  body{
    margin: 0px;
    background: black;
  }
  /*style my list*/
  ul {
    background-color: #ca3c25;
    width: 100%;
    margin: 0px;
    padding-left: 10%;
  }
  li{
    display: inline-block;
    padding: 20px;
    list-style: none;
  }
  a{
    font-family: arial;
    color: whitesmoke;
    padding: 10px;
  }
  a:hover{
    color:green;
  }
/*contenedor de img, text and button*/
.panda{
  width: 1200px;
  margin: 5%;
  padding-left: 5%;
  box-sizing: border-box;
  background: yellow;

}
