  body{
    margin: 0px;
    background: black;
  }
  /*style my list*/
  ul {
    background-color: #ca3c25;
    width: 100%;
    margin: 0px;
    padding-left: 10%;
  }
  li{
    display: inline-block;
    padding: 20px;
    list-style: none;
  }
  a{
    font-family: arial;
    color: whitesmoke;
    padding: 10px;
  }
  a:hover{
    color:green;
  }
/*background style*/
.panda{
  width: 1200px;
  margin: 5%;
  padding-left: 10%;
  box-sizing: border-box;
  background: yellow;
}
/*img's style*/
img {
  width: 210px;
  height: 210px;
  margin: 15px;
  border-style: solid;
  border-color: #bfadad;
  border-width: 4px
}
